.title {
  font-size: 14px;
  color: #1d2129;
  text-align: center;
}

.trainButton {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 0px;
  border-radius: 10px;
  width: 100%;
}

.trainButton:hover {
  background-color: #000000;
}

.trainButton.disabled {
  background-color: #8d949e;
  cursor: not-allowed;
}

.h4 {
  color: #000;
}

.tabs {
  width: 100%;
  margin-bottom: 20px;
  max-width: 1000px;
}

.tabList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 30.7407px 4.39152px rgba(0, 0, 0, .07);
  border-radius: 10px;
}

.subtabList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.subtabList .tab {
  margin-right: 30px;
}

.tab {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  transition: all 0.3s ease;
}

.selectedTab {
  background-color: #235B42;
  outline-color: #235B42;
  color: #fff;
  border-radius: 10px;
}

.selectedSubTab {
  border-bottom: 3px solid #235B42;
  color: #235B42;
}

.tabPanel {
  padding: 0px;
  padding-top: 25px;
  min-height: 600px;
  display: none;
}

.subtabPanel {
  padding: 0px;
  padding-top: 30px;
  min-height: 600px;
  display: none;
}

.tabPanel.active,
.subtabPanel.active {
  display: block;
}

.tabPanel h2,
.tabPanel,
.subtabPanel h2,
.subtabPanel {
  color: #333;
}

.fileManager {
  margin-top: 0px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 30.7407px 4.39152px rgba(0, 0, 0, .07);
  border-radius: 10px;
}