.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F8F8;
  }
  
  .title {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
  }
  
  .trainButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 30px;
  }
  
  .trainButton:hover {
    background-color: #45a049;
  }
  