/* LoginForm.module.css */

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    align-content: center;
    flex: 1;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    align-self: center;
    width: 360px;
  }
  
  .button {
    background-color: #235b42;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    width: 360px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  