@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #1e252d;
}

#__next {
  background-color: #1e252d;
}

.w-40 {
  width: 23%;
  min-width: 300px;
  background-color: #ffffff;
  flex: 1;
  display: inline-block;
  margin-right: 25px;
  box-shadow: 0 0 30.7407px 4.39152px rgba(0, 0, 0, .07);
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 30px;
}

.w-40 h3 {
  font-size: 20px;
  padding: 20px;
  padding-top: 0;
}

body {
  color: snow;
}

a {
  color: inherit;
  text-decoration: none;
  color: #000;
  text-decoration: none !important;

}

a:hover {
  opacity: 0.8;
}

.poster {
  margin-top: 20px;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 200px;
  height: 300px;
}


.card-text {
  padding: 0px;
  line-height: 28px;
  margin-bottom: -20px;
  padding-left: 20px;
  padding-top: 10px;
}

.card-text ul li {
  font-size: 16px;
  line-height: 33px;
}

.card-text h2 {
  border-bottom: 2px #000 solid;
  display: inline;
  margin-bottom: 0px;
  margin-left: 20px;
  font-size: 24px;
}

.crd h4 {
  border-bottom: 0px #999999 solid;
  display: inline;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.card {
  box-shadow: 0 0 30.7407px 4.39152px rgba(0, 0, 0, .07);
  border: 0px  !important;
  border: 20px !important;
}

.card-header {
  border: 0px !important;
  color: #333333 !important;
  font-weight: bold;
}

.progress, .progress-stacked {
  height: 33px !important;
  border-radius: 30px;
  margin-top: 2px;
  margin-bottom: 0px;
}

.progress-bar {
  background-color: #2196F3 !important;
  padding-left: 12px;
}

.progressCard .card-text {
  margin: 0px !important;
  padding: 0 !important;
  padding-left: 0px !important;
}